
<div class="bg-img">
    <div class="fb-icon-div">
        <a href="https://vk.com/reedevil" target="newblank_vk">
            <img src="https://icon-library.net/images/vk-icon/vk-icon-27.jpg" class="vk-icon">
        </a>
        <a href="https://facebook.com/reedevild" target="newblank_fb">
            <img src="https://i.pinimg.com/originals/58/f4/72/58f4723d8f23906bdcb058604075ad2a.png" class="fb-icon">
        </a></div>


    <div id="contact-form" class="from-control">
        <form action="/action_page.php">
            <input type="text" placeholder="Your name" class="form-control" >
            <input type="text" placeholder="Last name" class="form-control" >
            <input type="email" placeholder="Gmail@test.com" class="form-control">
            <textarea name="your text" id="" cols="27" rows="10" placeholder="Enter your text"
                class="form-control"></textarea>
            <input type="submit" value="Send" class="btn btn-success">
        </form>
        <button pButton type="button" class="ui-button-raised ui-button-rounded"> test</button>
    </div>
</div>
